[Unit]
Description=Add wheel users to container, virtualization, and serial groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/agate-dev-groups

[Install]
WantedBy=default.target
