__pycache__/
*.py[cod]
*$py.class

# cosign
cosign.key
cosign.private

# Bluebuild
/Containerfile
*.iso*

# Titanoboa local
titanoboa/
installer/
.bluebuild-scripts_*
bazzite-dx/
/.bluebuild-scripts_*
